@charset "UTF-8";

body {
    background-color: rgba(var(--b3f,250,250,250),1);
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
}

header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    display: flex;
    flex-direction: COLUMN;
    height: 60px;
    position: fixed;
    top: 0;
    transition: height .2s ease-in-out;
    width: 100%;
}

div.headerStyle {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    max-width: 975px;
    padding: 0 20px;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 10;
}

div.header-left {
    flex: 1 0 127px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}

div.logo {
    background-image: url('https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png');

    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 29px;
    width: 103px;
    display: flex;
    margin-top: 7px;
}

div.header-right {
    flex: 1 0 127px;
    position: relative;
    align-content: center;
    align-items: center;
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
}

body main {
    flex-grow: 1;
    justify-content: center;
    margin: 44px 0;
    overflow: hidden;
}

div#main-section {
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div section {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 auto;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    max-width: 388px;
}

div#passwordLogo {
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

div.passwordImg {
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png');
    
    background-repeat: no-repeat;
    background-position: -130px 0;
    height: 96px;
    width: 96px;
}

div.loginError {
    margin: 0 44px 16px 44px;
}

div.loginError h4 {
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: -6px 0 -6px;
}

div.access {
    margin: 0 44px 16px 44px;
}

div.accessMsg {
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
    
}
div.inputBox {
    margin: 0 44px 16px 44px;
}

form label {
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

label input {
    border: 0;
    padding: 4px 9px;
    width: 100%;
    border-radius: 6px;
    color: #262626;
    flex-grow: 1;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    background: #fafafa; 
    
}

div.account {
    margin: 0 44px 16px 44px;
}

button.loginLink {
    background-color: rgba(0,149,246,.3);
    opacity: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    width: 100%;
    line-height: 18px;
    margin-bottom: 7px;
}

a.passwordCheck {
    margin: 0;
    color: #00376b;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
}

div#or {
    margin: 15px 40px 13px;
    flex-direction: row;
}

div.line {
    display: flex;
}
div.line span {
    color: #8e8e8e;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.line::before { 
    content: "";
    flex-grow: 1;
    margin-top: 7px;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
}

.line::after {
    content: "";
    flex-grow: 1;
    margin-top: 7px;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;    
}

div#join {
    margin: 0 44px 16px;
}

div#join a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
}

div#login {
    margin-top: 68px;
    height: 42px;
    flex: 0 0 auto;
    justify-content: space-around;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
}

div#login a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;

}

/* 하단 footer */
footer {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    position: relative;
    flex: 0 0 auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    font-size: 12px;
    color: rgba(var(--f52, 142, 142, 142), 1);
}

footer div#footer-top {
    margin-top: 23px;
    flex: 0 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
}

div.footer-link {
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 auto;
    margin: 0 6px 12px 6px;

    display: inline;
    line-height: 20px;
    white-space:nowrap;
    }

footer div#footer-bottom {
    margin: 17px 0 61px;
}

footer select {
    margin-right: 12px;
    border: none;
    background-color: rgba(var(--b3f,250,250,250),1);
    font-size: 12px;
    color: gray;
}